<p></p>

<h1>People Overview</h1>

<!-- <div *ngIf="people != null">
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th *ngFor="let field of people[0] | keyvalue">
                    {{field.key}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of people">
                <td *ngFor="let field of person | keyvalue">
                    {{field.value}}
                </td>
            </tr>
        </tbody>
    </table>
</div> -->

<p></p>

<marquee>User view</marquee>

<p></p>

<div *ngIf="people != null">
    <table class="table table-striped table-hover text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>FIRSTNAME</th>
                <th>LASTNAME</th>
                <th>BIRTHDATE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of people">
                <td>{{person.id}}</td>
                <td>{{person.firstname}}</td>
                <td>{{person.lastname}}</td>
                <td>{{person.birthdate}}</td>
            </tr>
        </tbody>
    </table>
</div>